{% extends 'base.html.twig' %}

{% block title %}Welcome Home
{% endblock %}

{% block body %}

{% for type, messages in app.session.flashbag.all() %}
	{% for message in messages %}
		<div class="alert alert-{{ type }}" style="border-radius:0px;">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewbox="0 0 24 24">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
			</svg>
			{{ message }}
			<div class="flex-none">
				<button class="btn-sx btn-ghost hover:bg-green-300" onclick="this.parentElement.parentElement.remove()">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
					</svg>
				</button>
			</div>
		</div>
	{% endfor %}
{% endfor %}

<div id="root"></div>

	<script>
		window.REACT_COMPONENT_NAME = "{{ react_component | default('Home') }}";
		window.APP_USER_DATA = "{{ userRolesId | json_encode | raw | default(null)}}";	
		window.API_URL = '{{ api_url }}';
		window.JWT_URL = '{{ jwt_url }}';
	</script>

{% endblock %}